.Rproj.user
.Rhistory
.RData
.Ruserdata
.claude
.positai
*.lnk
* alias
*.qgs
*.qgs~
*.qgz
*.html
notebook.md
data
meetings
R/MEE_AOA-master
output/
ms/submission/1_coauthors
ms/submission/2_reviewers
R/archive/MEE_AOA-master
.vscode
Rplots.pdf

# manuscript build by-products
ms/*.log
ms/ms.pdf
ms/ms.tex
ms/ms_files/
