.Rproj.user
.Rhistory
.RData
.Ruserdata
.claude
CLAUDE.md
.positai
*.lnk
* alias
*.qgs
*.qgs~
*.qgz
*.html
notebook.md
data
meetings
R/MEE_AOA-master
output/
ms/submission/1_coauthors
ms/submission/2_reviewers